.container{
  width: auto;
  height: 70px;
  background-color: rgb(113, 197, 197);
  padding-left: 30px;
}
h2{
  color: black;
  float: left;
}
  .button{
    background-color: rgb(113, 197, 197);
    color: black;
    border: 0;
    margin-top: 15px;
    float: right;
    border-radius: 10px;
    margin-right: 40px;
    font-size: 20px;
  }
  .button:hover{
    background-color: black;
    border-radius: 10px;
    color: #ffffff;
  }
  h1{
    /* float: left; */
    font-size: 80px;
    /* margin: 80px 30px 30px 10px; */
    padding: 50px 30px 0px 80px;
    margin: 0;
    
  }
  .container-below{
    background-color: rgb(113, 197, 197);
    height:1000px;
    width: auto;
    margin: 0%;
  }
p{
  padding-left: 74px;
  float: inline-start;
  font-size: 33px;
  margin: 15px;
  color: grey;
}
#search{
  margin-left: 80px;
  border-top-left-radius: 5px;
  padding-left: 20px;
  border: 0;
  height: 30px;
}
.course-container{
  width: 300px;
  height: 250px;
  background-color: rgb(213, 231, 239);
  margin: 50px 30px 10px 80px;
  border-radius: 10px;
  float: left;
}
.image{
  width: 300px;
  height: 130px;
  margin: 0%;
}
h3{
  padding-left: 10px;
  margin: 0%;
  
}
.image1{
  float: right;
  width: 600px;
  height: 300px;
  margin: 30px 80px 10px 50px;
  opacity: 100;
  transform: rotateX(30deg);
}
.para{
  font-size: 18px;
  color: black;
  padding: 0%;
  margin-top: 0%;
}
.button1{
  text-align: center;
  float: none;
  
}
.button2{
  background-color: chocolate;
  color: #ffffff;
  width: 200px;
  border: 0;
  height: 30px;
  font-size: 20px;
  border-radius: 10px;
  float: none;
}